<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>
<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">WEB PROGRAMMING SHOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link" href="/books">Books</a>
                    </li>
                    <!--                    <li class="nav-item m-auto">-->
                    <!--                        <a class="nav-link active" href="/categories">Categories</a>-->
                    <!--                    </li>-->
                    <!--                    <li class="nav-item m-auto">-->
                    <!--                        <a class="nav-link" href="/manufacturers">Manufacturers</a>-->
                    <!--                    </li>-->
                </ul>

                <form class="form-inline my-2 my-lg-0" action="/books" method="GET">
                    <div class="input-group input-group-sm">
                        <input name="search" type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!--                <ul class="nav navbar-nav navbar-right">-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="btn btn-light btn-sm ml-3" href="/logout">-->
                <!--                            <i class="fa-solid fa-right-from-bracket"></i> Logout-->
                <!--                        </a>-->
                <!--                    </li>-->
                <!--                </ul>-->
            </div>
        </div>
    </nav>
</header>

<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Book Form</h1>
            <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form method="post" th:action="@{${book == null ? '/books' : '/books/' + book.id}}">

                    <div class="form-group">
                        <label for="title">Book Title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="${book != null ? book.title : ''}"
                               required
                               placeholder="Enter book title">
                    </div>

                    <div class="form-group">
                        <label for="genre">Book Genre</label>
                        <input type="text"
                               class="form-control"
                               id="genre"
                               name="genre"
                               th:value="${book != null ? book.genre : ''}"
                               required
                               placeholder="Enter book genre">
                    </div>

                    <div class="form-group">
                        <label for="averageRating">Book Average Rating</label>
                        <input type="number"
                               class="form-control"
                               id="averageRating"
                               name="averageRating"
                               step="0.1"
                               min="0"
                               max="10"
                               th:value="${book != null ? book.averageRating : 0.0}"
                               required
                               placeholder="Enter book average rating">
                    </div>

                    <div class="form-group">
                        <label>Author</label>
                        <select name="authorId" class="form-control">
                            <option value="" disabled th:selected="${book == null}">--- Select Author ---</option>
                            <option
                                    th:each="author : ${authors}"
                                    th:text="${author.name + ' ' + author.surname}"
                                    th:value="${author.id}"
                                    th:selected="${book != null && book.author != null && book.author.id == author.id}"
                            ></option>
                        </select>
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-secondary" href="/books">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
