<div xmlns:th="http://www.thymeleaf.org">

    <div class="container mb-4">
        <form class="form-signin mt-xl-5" action="/register" method="post">
            <h2 class="form-signin-heading">Register</h2>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username">
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                >
            </p>
            <p>
                <label for="repeatedPassword" class="sr-only">Repeat Password</label>
                <input type="password" id="repeatedPassword" name="repeatPassword" class="form-control"
                       placeholder="Repeat Password">
            </p>
            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" class="form-control" name="name" placeholder="Name"
                       autofocus="">
            </p>
            <p>
                <label for="surname" class="sr-only">Surname</label>
                <input type="text" id="surname" class="form-control" name="surname" placeholder="Surname"
                       autofocus="">
            </p>

            <th:block th:if="${error != null}">
                <div th:text="${error}" class="text-danger"></div>
            </th:block>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
        <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
    </div>
</div>
